.product-card {
    display: flex;
    min-height: 480px;
    background-color: #476BF0;
    height: 100%;
    padding: 20px 20px 32px;
    border-radius: 12px;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: auto 0 20px;
}

.product-card__link {
    background-color: #476BF0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #ffff;
    text-decoration: none;
    border-radius: 8px;
    padding: 14px 83px;
}

.product-card__answer-category {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.product-card__img-category {
    width: 40px;
    height: 40px;
}

.product-card__header {
    display: flex;
    gap: 8px;
    align-items: center;

}

.product-card--first {
    background-image: url("../../images/pensioners.jpg");
}

.product-card--second {
    background-image: url("../../images/ratings.jpg");
}

.product-card--third {
    background-image: url("../../images/gold_ingots.jpg");

}

.product-card--fourth {
    background-image: url("../../images/tax_deduction.jpg");
}

.product-card--fifth {
    background-image: url("../../images/tax_deduction.jpg");
}

.product-card--sixth {
    background-image: url("../../images/dismissal.jpg");
}

.product-card--seventh {
    background-image: url("../../images/balance.jpg");
}


.product-card--eighth {
    background-image: url("../../images/credit.jpg");
}